#octopus {
  margin-top: 75px;
  margin-left: 500px;
  position: absolute;
}

#glasses {
  margin-top: 175px;
  margin-left: 542px;
  position: absolute;
}

#hat {
  margin-top: -35px;
  margin-left: 490px;
  position: absolute;
}