

.column-1 {

  background:blue;
  display: inline-block;
  width: 49.5%;
  height: 1000px;
  

}

.column-2 {


background:orange;
display: inline-block;
vertical-align: top;
width: 49.5%;
height: 1000px;


}

header {background:green}

footer {background: gold}
